.work h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projects-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card{
    background: #222;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #b74b4b;
}

.project-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3{
    margin-bottom: 10px;
}

.project-card p{
    color: #ccc;
}


  